In [63]:
#Exercise=1:Data representation and interaction-Basic

In [64]:
#importing the pandas library

import pandas as pd
import numpy as np
info=np.array(['P','a','n','d','a','s'])
a=pd.Series(info)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [65]:
#creating a dataframe using list
import pandas as pd
#a list of Strings
Name = ['Prince','Anand','Rudra','Dhruv','Aahan']
dataframe = pd.DataFrame(Name)
print("List is:- ",dataframe)

List is:-          0
0  Prince
1   Anand
2   Rudra
3   Dhruv
4   Aahan

In [69]:
#pandas series map()
import pandas as pd
import numpy as np
a = pd.Series(['Prince','Raja','Rudra',np.nan,np.nan,np.nan])
a.map({'Prince':'Captain'})
a.map('I like that boy named {}'.format,na_action='ignore')
#a.map({'Raja':'CR'})
#a.map({'Rudra':'Vice captain'})
#print(a)

0    I like that boy named Prince
1      I like that boy named Raja
2     I like that boy named Rudra
3                             NaN
4                             NaN
5                             NaN
dtype: object

In [67]:
#Series to frame()
Student=['Prince','Rudra','Raja','Rohit']
Course=['AI&ML','Cyber','AI&ML','IOT']
Class=['B2','A1','B1','A2']
Marks=[56,78,98,76]
Student_series=pd.Series(Student)
Course_series=pd.Series(Course)
Class_series=pd.Series(Class)
Marks_series=pd.Series(Marks)
frame={'Student':Student_series,'Course':Course_series,'Class':Class_series,'Marks':Marks_series}
result=pd.DataFrame(frame)
print(result)

  Student Course Class  Marks
0  Prince  AI&ML    B2     56
1   Rudra  Cyber    A1     78
2    Raja  AI&ML    B1     98
3   Rohit    IOT    A2     76